<table>
  <tr>
    <td class="statisticName">Total keypresses:</td>
    <td>{{statistics.numberOfTotalKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Correct keypresses:</td>
    <td>{{statistics.numberOfCorrectKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Incorrect keypresses:</td>
    <td>{{statistics.numberOfIncorrectKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Typing speed:</td>
    <td>{{statistics.pressedKeysPerSec | number: '.0-3'}} keypresses/sec</td>
  </tr>
  <tr>
    <td class="statisticName">Accuracy:</td>
    <td>{{statistics.accuracy | percent: '.0-1'}}</td>
  </tr>
  <tr>
    <td class="statisticName">Time to complete lesson:</td>
    <td>{{statistics.secondsToCompleteLesson | number: '.0-3'}} seconds</td>
  </tr>
</table>