<table>
  <tr>
    <td class="statisticName">Total keypresses:</td>
    <td>{{statistics.numberOfTotalKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Correct keypresses:</td>
    <td>{{statistics.numberOfCorrectKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Incorrect keypresses:</td>
    <td>{{statistics.numberOfIncorrectKeypresses}}</td>
  </tr>
  <tr>
    <td class="statisticName">Typing speed:</td>
    <td>{{statistics.pressedKeysPerSec}} keypress/sec</td>
  </tr>
  <tr>
    <td class="statisticName">Time to complete lesson:</td>
    <td>{{statistics.timeToCompleteLesson}} seconds</td>
  </tr>
</table>