<div layout="row" layout-wrap>
    <side-menu></side-menu>
    <div id="LessonContainer" flex="50">
        <h1 id="LessonTitle" class="md-display-3">{{LessonCtrl.lesson.name}}</h1>

        <div id="LessonText">
            <p><span style="color:red">{{LessonCtrl.typedText}}</span>{{LessonCtrl.textToBeType}}</p>
        </div>
        <timer ng-hide="true"></timer>

        <md-input-container flex>
            <label for="typedText">Typed text</label>
            <textarea name="typedText" id="typedText" ng-paste="$event.preventDefault()" ng-disabled="LessonCtrl.textareaIsDisabled" autofocus="" ng-model="LessonCtrl.typedText" columns="1" ng-trim="false" ng-keypress="LessonCtrl.keyPressHandler($event)"></textarea>
        </md-input-container>

        <lesson-result ng-hide="LessonCtrl.resultIsHidden"></lesson-result>

    </div>
</div>