<div layout="row">
    <side-menu></side-menu>
    <h1>{{ UserCtrl.user.username }}</h1>
    <form name="UserForm" ng-submit="UserCtrl.updateUser()">
      <md-input-container>
        <label>Username</label>
        <input required name="username" ng-model="UserCtrl.updateName" />
      </md-input-container>
                  <!-- Login Button -->
      <md-content>
        <md-button class="md-raised" type="submit">Save</md-button>
      </md-content>
    </form>
</div>
