<form (submit)="login()" [ngFormModel]="loginForm">
  <div>
    <label>Email: </label><input type="text" ngControl="email" />
    <div *ngIf="email.dirty && email.hasError('required')">Email is required</div>
  </div>
  <div>
    <label>Password: </label><input type="password" ngControl="password" />
    <div *ngIf="password.dirty && password.hasError('required')">Password is required</div>
  </div>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
  <div *ngIf="responseError">{{responseError}}</div> 
</form>
<div>Click <a [routerLink]="['Register']">here</a> to Register</div>