<!DOCTYPE html>

<html ng-app="typewritingApp" layout="column" ng-cloak>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/">
    <title>TypeScript HTML App</title>

    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-route/angular-route.min.js"></script>
    <script src="/scripts/angular-resource/angular-resource.min.js"></script>
    <script src="/scripts/angular-cookies/angular-cookies.min.js"></script>
    <script src="/scripts/angular-local-storage/src/angular-local-storage.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>
    <script src="angular-timer-all.min.js"></script>
    <script src="/scripts/angular-material/angular-material.js"></script>
    <script src="/scripts/angular-md5/angular-md5.js"></script>
    <script src="/scripts/angular-jwt/dist/angular-jwt.js"></script>
    <script src="/scripts/angular-storage/dist/angular-storage.js"></script>
    <script src="/scripts/angular-ui-router/release/angular-ui-router.js"></script>
    
    
    
    
    <script src="typewriting.js"></script>

    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css" />
</head>
<body>

    <div id="site">
        <article>
            <ng-view></ng-view>
        </article>
    </div>


</body>

</html>
